<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}">
{{ partial "head.html" . }}
<body>
    <main>
        <article>
            <header>
                <h1>{{ .Title }}</h1>
                {{ partial "breadcrumb.html" . }}
            </header>
            {{ if .Params.toc }}
            <aside class="table-of-contents">
                <h2>Table of Contents</h2>
                {{.TableOfContents}}
            </aside>
            {{ end }}
            <section>{{ .Content }}</section>
        </article>
    </main>
</body>
{{ partial "footer.html" . }}
</html>